<section id="list">
    <p><%= @nickname %>の作業員一覧です</p>

<div class="work-day">
<%= form_for @users do |f| %>
    <p>日付:<input id="configuration_date" name="configuration_date" type="text" readonly="readonly" value="<%= @configuration_date %>">
    <input name="sort_value" type="hidden" value="<%= @sort_value %>">
    <input name="user_id" type="hidden" value="<%= @users.id %>"></p>
<% end %>
</div>

    <div class="appositive-list">
      <ul class="al-6 sortable">
        <li id="worker-10000" class="stop"></li>
        <% @names.each do |member| %>
        <li id="row_<%= member.id %>"><%= member.name %></li>
        <% end %>
      </ul>
    </div>
  </section>

  <% @workplaces.each do |location| %>
  <section id="sort1">
  <p><%= location.workplace %></p>
    <div class="work-place">
      <ul class="al-6 place-1" id="<%= location.id %>">
        <li id="worker-1000" class="stop"></li>
      </ul>
    </div>
  </section>
  <% end %>

<center>
<input type="button" value="保存" onClick="save_submit();">
</center>

