
<div class='login'>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <fieldset class="login-field">
  <legend>ログイン</legend>
    <%= f.label :email, "Eメール" %>
    <%= f.email_field :email, autofocus: true, class: "form-registration", placeholder: "Eメール"  %>

    <label for="password">パスワード</label>
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, autocomplete: "off", class: "form-registration", placeholder: "パスワード"  %>

  </fieldset>

    <% if devise_mapping.rememberable? %>
          <div class='checkbox'>
              <label>
                <input id='user_remember_me' name='user[remember_me]' type='checkbox' value='1'>
                <%= f.label :remember_me, 'ログイン情報を記憶する', class: '' %>
              </label>
          </div>
    <% end %>


    <%= f.submit class: 'login-submit', value: 'ログイン' %>
<% end %>
<%= render 'devise/shared/links' %>
</div>





