<!DOCTYPE html>
<html lang="ja">
<head>
  <meta content='IE=Edge,chrome=1' http-equiv='X-UA-Compatible'>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
  <title>fudawari - いつでもどこでも、人員配置 -</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"
  <meta name="description" content="ふだわり（fudawari）は、いつでもどこでも、作業員の配置を行うことが出来る土建業向けのサービスです。">
  <meta name="keywords" content="fudawari,ふだわり,配置,土木,建築">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  <%= csrf_meta_tags %>
<!--   <script src="https://use.fontawesome.com/926fe18a63.js"></script>
 --></head>
<body>
<%= render partial: 'common/header' %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
<%= render partial: 'common/footer' %>
</body>
</html>
